body{
    background-color: black;
}

.navbar{
    background-color: #ea272d;
}

#logo{
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

.navbar-toggler{
    border: none;
}

.navbar-toggler img{
    width: 30px;
}

#navContent .navbar-nav{
    width: 100%;
    justify-content: flex-end;
}

#navContent ul li a{
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
}

.wrapper, .content{
    margin-top: 70px;
    padding-top: 6%;
    background: no-repeat;
    background-size: 100% auto;
    height: 91vh;
}

.carousel-item img{
    width: 100%;
    height: auto;
}

.product-wrapper{
    background-color: whitesmoke; 
    margin-top: 7%;
    padding-top: 3%;
    font-family: 'Oswald', sans-serif;
}

.product-wrapper h1{
    text-align: center;
    color: black;
    margin-bottom: 2%;
}

.product-wrapper .container .row .card{
    padding: 1%;
    margin-bottom: 1%;
    border: none;
    background-color: whitesmoke;
}

.content .promotion-wrapper .container .row img{
    width: 100%;
    margin-bottom: 3%;
}

.footer{
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
    padding: 2%;
}

.footer .container .row{
    text-align: center;
    justify-content: center;
}

#footer-logo{
    font-size: 30px;
}